/* ************************************************************************
 * AUVERCLOUD RUNTIME CONTENT (.arc)
 * ************************************************************************/
.arc {
	/* Generic class for any AuverCloud content */
}
/* ************************************************************************
 * FONT: OPEN SANS REGULAR+ITALIC+BOLD
 * NB: @media is just a turnaround to avoid an Aptana warning bug
 * ************************************************************************/
@media only screen {
	@font-face {
		font-family: 'Open Sans';
		src: url('opensans/opensans-regular-webfont.eot');
		src: url('opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('opensans/opensans-regular-webfont.woff') format('woff'), url('opensans/opensans-regular-webfont.ttf') format('truetype'), url('opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Open Sans';
		src: url('opensans/opensans-bold-webfont.eot');
		src: url('opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('opensans/opensans-bold-webfont.woff') format('woff'), url('opensans/opensans-bold-webfont.ttf') format('truetype'), url('opensans/opensans-bold-webfont.svg#open_sansbold') format('svg');
		font-weight: bold;
		font-style: normal;
	}
	@font-face {
		font-family: 'Open Sans';
		src: url('opensans/opensans-italic-webfont.eot');
		src: url('opensans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('opensans/opensans-italic-webfont.woff') format('woff'), url('opensans/opensans-italic-webfont.ttf') format('truetype'), url('opensans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
		font-weight: normal;
		font-style: italic;
	}
	@font-face {
		font-family: 'Open Sans';
		src: url('opensans/opensans-italic-webfont.eot');
		src: url('opensans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('opensans/opensans-italic-webfont.woff') format('woff'), url('opensans/opensans-italic-webfont.ttf') format('truetype'), url('opensans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
		font-weight: normal;
		font-style: oblique;
	}
	@font-face {
		font-family: 'Open Sans';
		src: url('opensans/opensans-bolditalic-webfont.eot');
		src: url('opensans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('opensans/opensans-bolditalic-webfont.woff') format('woff'), url('opensans/opensans-bolditalic-webfont.ttf') format('truetype'), url('opensans/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
		font-weight: bold;
		font-style: italic;
	}
}
/* ************************************************************************
 * TEXT CONTENT including compatibility with former basics.io text
 * ************************************************************************/
/* This class is inserted in content to display the 'title' property in text and iframe content. To customize globally or for each content */
.bio-title, .arc-title {
}
/* Default paragraphe style used by text box editor */
.bio-style-normal, .bio-style-h1, .bio-style-h2, .bio-style-h3, .bio-style-h4, .bio-style-title, .bio-style-subtitle, arc-style-normal, .arc-style-h1, .arc-style-h2, .arc-style-h3, .arc-style-h4, .arc-style-title, .arc-style-subtitle {
	color: #000;
	text-align: left;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-family: Arial;
}
.bio-style-normal, .arc-style-normal {
	font-weight: normal;
}
.bio-style-title, .arc-style-title {
	font-size: 32px;
}
.bio-style-subtitle, .arc-style-subtitle {
	font-size: 20px;
	color: #888;
	font-style: italic;
}
.bio-style-normal h1, .bio-style-h1, .arc-style-normal h1, .arc-style-h1 {
	font-size: 28px;
}
.bio-style-normal h2, .bio-style-h2, .arc-style-normal h2, .arc-style-h2 {
	font-size: 24px;
}
.bio-style-normal h3, .bio-style-h3, .arc-style-normal h3, .arc-style-h3 {
	font-size: 20px;
}
.bio-style-normal h4, .bio-style-h4, .arc-style-normal h4, .arc-style-h4 {
	font-size: 16px;
}
/* Multi-column definition */
.bio-columns, .arc-columns {
	width: 100%;
	border-spacing: 0px;
}
.bio-columns tr td, .arc-columns tr td {
	vertical-align: top;
	padding: 0 10px;
}
.bio-columns tr td:first-child, .arc-columns tr td:first-child {
	padding-left: 0px;
}
.bio-columns tr td:last-child, .arc-columns tr td:last-child {
	padding-right: 0px;
}
/* Margin around any inserted pic */
.bio-pic, .arc-pic {
	margin: 10px;
}
/* ************************************************************************
 * SLIDESHOW
 * ************************************************************************/
/* Picture list */
.arc-sc-list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* Picture */
.arc-sc-list > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	display: none;
}
/* Where is copied the inital content */
.arc-sc-content {
	position: absolute;
	top: 0;
	left: 0;
}
/* Progress bullet area located at the container bottom */
.arc-sc-bullet {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	display: none;
}
/* Centered bullet list */
.arc-sc-bullet > div {
	height: 20px;
	margin: 0 auto;
}
/* Bullet */
.arc-sc-bullet > div > div {
	float: left;
	height: 10px;
	width: 10px;
	margin: 5px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0px 0px 1px #888;
	-moz-box-shadow: 0px 0px 1px #888;
	-webkit-box-shadow: 0px 0px 1px #888;
	background-color: #ccc;
	cursor: pointer;
}
/* Handler area */
.arc-sc-handler {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
}
/* Handlers */
.arc-sc-handler > div {
	position: absolute;
	margin:10px;
	width: 40px;
	height: 40px;
	border: none;
	box-shadow: 0px 0px 1px #fff;
	-moz-box-shadow: 0px 0px 1px #fff;
	-webkit-box-shadow: 0px 0px 1px #fff;
	line-height: 40px;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px #000;
	color: #fff;
	top: 0;
	left: 0;
	cursor: pointer;
	background: #000;
	opacity: 0.4;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
/* Title area */
.arc-sc-title {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	font-size: 150%;
	background: rgba(255,255,255,0.5);
}
/* ************************************************************************
 * MENU COLOR SCHEMA
 * ************************************************************************/
/* BACKGROUND */
.arc.menu {
	background: #666; /* Dark bg for top level menu */
}
.arc.menu > li > ul {
	background: #666; /* Dark bg for submenu */
}
.arc.menu a:hover {
	background: rgba(0,0,0,0.5); /* Dark transparent shadow for hovered link and submenu */
}
/* FOREGROUND */
.arc.menu a:link, .arc.menu .submenu > span {
	color: #fff; /* White default link and submenu title */
}
.arc.menu a:visited {
	color: #eee; /* Lite grey visited link */
}
.arc.menu a:hover, .arc.menu .submenu:hover > span {
	color: #FFCC00; /* Lite yellow hovered link */
}
.arc.menu a:active {
	color: #EBBD02; /* Dark yellow pressed link */
}
/* BORDER */
.arc.menu > li > a:hover {
	border-bottom-color: #FFCC00;
}
.arc.menu .submenu:hover > ul {
	border-top-color: #FFCC00;
}
/* ************************************************************************
 * MENU HORIZONTAL STRUCTURE
 * ************************************************************************/
.arc.menu {
	height: 50px;
}
.arc.menu {
	display: inline-block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	cursor: pointer;
}
.arc.menu > li {
	float: left;
	display: block;
	height: 100%;
	width: auto;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: visible;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 40px;
}
.arc.menu a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
	line-height: 46px;
	height: 46px;
}
.arc.menu > li > a {
	border-bottom: 4px solid transparent;
}
.arc.menu .submenu > ul {
	border-top: 4px solid transparent;
	position: absolute;
	z-index: 1000; /* !!! To customize according to the page !!! */
}
.arc.menu .submenu > span {
	display: block;
	padding: 0 10px;
	line-height: 46px;
	height: 46px;
}
.arc.menu > li > ul {
	z-index: 100;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: none;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}
.arc.menu ul li:last-child a {
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}
/* THIS DOES WORK WITH iOS! It requires also <body ontouchstart="" onmouseover="" > added by arc.js */
.arc.menu .submenu:hover ul {
	display: block;
}
/* ************************************************************************
 * FRAME
 * ************************************************************************/
.arc-frame {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border: none;
}
/* ************************************************************************
 * CONTENT TEXT LOG
 * ************************************************************************/
/* Link to current version of text in log */
.arc-log-latest {
	padding: 5px 10px;
	text-align: justify;
	cursor: pointer;
}

.arc-log-latest:hover {
	color: #0AC9FF;
}
.arc-log-latest:active {
	color: #08A1D9;
}
/* Month list in log */
.arc-log {
	margin: 0;
	padding-bottom: 10px;
	cursor: pointer;
}
/* Month title togglable */
.arc-log > div {
	padding-left: 5px;
	height: 24px;
	line-height: 24px;
	background: #eee;
	color: #08A1D9;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
/* Signs + and - */
.arc-log > div > span {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	width: 24px;
}
/* List item */
.arc-log li {
	display: none;
	margin-left: 40px;
}
.arc-log li:hover {
	color: #0AC9FF;
}
.arc-log li:active {
	color: #08A1D9;
}
/* List item link for server version (e.g. PHP) */
.arc-log a, .arc-log-latest a {
	text-decoration: none;
}

/* ************************************************************************
 * MEDIA QUERY
 * ************************************************************************/
/* TABLET */
@media only screen and (max-width: 1024px) {
}
/* PHABLET */
@media only screen and (max-width: 768px) and (orientation: portrait) {
	.arc.menu {
		font-size: 12px;
	}
	.arc.menu a, .arc.menu .submenu > span {
		padding: 0 4px;
	}
}
/* PHONE */
@media only screen and (max-width: 480px) {
}
/* ************************************************************************
 * EOF
 * ************************************************************************/